.scroll-image {
  display: flex;
  margin: 0;
  height: 100%;

  img {
    width: calc(33.333% - 10px);
    margin: 0 15px 15px 0;
  }

  img:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .scroll-image {
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;

    img {
      display: block;
      flex: 0 0 auto;
      width: 70%;
      margin: 0 15px 0 0;
    }

    img:last-of-type {
      margin-right: 0;
    }
  }
}
