form {
  font-size: 1rem;

  .form-label {
    margin-bottom: 0.5rem;
    display: inline-block;
  }

  .form-control {
    display: block;
    width: 96%;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    appearance: none;
    border-radius: 0.375rem;
  }
}

input[type="text"] {
  padding: 1rem;
  background-color: rgb(48, 48, 48);
  color: whitesmoke;
}
textarea {
  padding: 1rem;
  background-color: rgb(48, 48, 48);
  color: whitesmoke;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;

  .form-check-input {
    float: left;
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    margin-left: -1.5em;
    vertical-align: top;
    border: none;

    [type="checkbox"] {
      border-radius: 0.25em;
    }
  }
}
